table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

button{
    padding: 10px 30px;
    background-color: rgb(6, 155, 241);
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 100px;
}